<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="/#/api/exams/{{exam.id}}">{{exam.subject}}</a></h2>
        </div>
        <div class="panel-body">
            <p>mota mínima: {{exam.to_aprove}} %</p>
            
            <p>Nº de preguntas: {{exam.questions.length}}</p>

            <p>{{exam.description}}</p>

            <div class="center">
                <a href="/#/exams/{{exam.id}}/take" class="btn btn-primary btn-lg">Hacer examen</a>
            </div>
        </div>
    </div>
</div>
